@page "/"
@page "/0"

<div class="container h-100 d-flex justify-content-center">
    <div class="row my-auto">
        <div class="index-logo mx-auto">
            <img src="/BlazorPresentation/images/Blazor_Name.svg" class="index-logo-image" onerror="this.onerror=null;this.src='../images/Blazor_Name.svg';" />
        </div>
        <div class="index-subtitle mx-auto">
            Open Source .Net Web Framework
        </div>
    </div>
</div>