@page "/4"

    <div class="container h-100 d-flex justify-content-center">
        <div class="slide1-logo">
            <img src="../images/Blazor.svg" class="slide1-logo-image" />
        </div>
        <div class="row my-auto fade-in-fwd">
            <span class="slide1-text">
                <img src="../images/webassembly.svg" class="slide2-images" />
            </span>
        </div>
    </div>