@page "/2"

<div class="container h-100 d-flex justify-content-center">
    <div class="slide1-logo">
        <img src="../images/Blazor.svg" class="slide1-logo-image" />
    </div>
    <div class="row my-auto fade-in-fwd">
        <span>
            <img src="../images/ServerClient.svg" class="slide2-images inner-shadow" />
        </span>
    </div>
</div>