@page "/6"

    <div class="slide1-logo">
        <img src="/BlazorPresentation/images/Blazor.svg" class="slide1-logo-image" onerror="this.onerror=null;this.src='../images/Blazor.svg';" />
    </div>
    <div class="h-100 d-flex justify-content-center">

        <div class="container my-auto d-block">
            <div class="row fade-in-fwd">
                <img src="/BlazorPresentation/images/benefits-1.svg" class="slide6-images mx-auto" onerror="this.onerror=null;this.src='../images/benefits-1.svg';" />
            </div>
            <div class="row">
                <p class="slide6-images mx-auto mt-5"></p>
            </div>
            <div class="row">
                <p class="slide6-images mx-auto mt-5"></p>
            </div>
        </div>
    </div>