@page "/1"

<div class="container h-100 d-flex justify-content-center">
    <div class="slide1-logo">
        <img src="/BlazorPresentation/images/Blazor.svg" class="slide1-logo-image" onerror="this.onerror=null;this.src='../images/Blazor.svg';" />
    </div>
    <div class="row my-auto fade-in-fwd">
        <span>
            <img src="/BlazorPresentation/images/browsers.svg" class="slide1-images" onerror="this.onerror=null;this.src='../images/browsers.svg';" />
        </span>
        <span class="slide1-signs">+</span>
        <span class="slide1-text">
            <img src="/BlazorPresentation/images/razor.svg" class="slide1-images" onerror="this.onerror=null;this.src='../images/razor.svg';" />
        </span>
        <span class="slide1-signs">=</span>
        <span class="slide1-text">
            <img src="/BlazorPresentation/images/Blazor_Name.svg" class="slide1-images" onerror="this.onerror=null;this.src='../images/Blazor_Name.svg';" />
        </span>
    </div>
</div>