@page "/2"

<div class="container h-100 d-flex justify-content-center">
    <div class="slide1-logo">
        <img src="/BlazorPresentation/images/Blazor.svg" class="slide1-logo-image" onerror="this.onerror=null;this.src='../images/Blazor.svg';" />
        <span class="topic ml-2">Models</span>
    </div>
    <div class="row my-auto fade-in-fwd">
        <span>
            <img src="/BlazorPresentation/images/ServerClient.svg" class="slide2-images inner-shadow" onerror="this.onerror=null;this.src='../images/ServerClient.svg';" />
        </span>
    </div>
</div>