@page "/4"

<div class="container h-100 d-flex justify-content-center">
    <div class="slide1-logo">
        <img src="/BlazorPresentation/images/Blazor.svg" class="slide1-logo-image" onerror="this.onerror=null;this.src='../images/Blazor.svg';" />
        <span class="topic ml-2">Client-Side Blazor (WebAssembly)</span>
    </div>
    <div class="row my-auto fade-in-fwd">
        <span class="slide1-text">
            <img src="/BlazorPresentation/images/client-side.svg" class="slide3-images" onerror="this.onerror=null;this.src='../images/client-side.svg';" />
        </span>
    </div>
</div>