@page "/1"

<div class="container h-100 d-flex justify-content-center">
    <div class="slide1-logo">
        <img src="/BlazorPresentation/images/Blazor.svg" class="slide1-logo-image" onerror="this.onerror=null;this.src='../images/Blazor.svg';" />
    </div>
    <div class="row my-auto fade-in-fwd">
        <span>
            <img src="/BlazorPresentation/images/c-sharp-browsers.svg" class="slide1-images inner-shadow" onerror="this.onerror=null;this.src='../images/c-sharp-browsers.svg';" />
        </span>
    </div>
</div>