@page "/1"

<div class="container h-100 d-flex justify-content-center">
    <div class="slide1-logo">
        <img src="../images/Blazor.svg" class="slide1-logo-image" />
    </div>
    <div class="row my-auto fade-in-fwd">
        <span>
            <img src="../images/browsers.svg" class="slide1-images" />
        </span>
        <span class="slide1-signs">+</span>
        <span class="slide1-text">
            <img src="../images/razor.svg" class="slide1-images" />
        </span>
        <span class="slide1-signs">=</span>
        <span class="slide1-text">
            <img src="../images/Blazor_Name.svg" class="slide1-images" />
        </span>
    </div>
</div>