@page "/3"

<div class="container h-100 d-flex justify-content-center">
    <div class="slide1-logo">
        <img src="/BlazorPresentation/images/Blazor.svg" class="slide1-logo-image" onerror="this.onerror=null;this.src='../images/Blazor.svg';" />
    </div>
    <div class="row my-auto fade-in-fwd">
        <span class="slide1-text">
            <img src="/BlazorPresentation/images/trasnpile.svg" class="slide1-images" onerror="this.onerror=null;this.src='../images/trasnpile.svg';" />
        </span>
    </div>
</div>