@page "/8"

<div class="slide1-logo">
    <img src="/BlazorPresentation/images/Blazor.svg" class="slide1-logo-image" onerror="this.onerror=null;this.src='../images/Blazor.svg';" />
    <span class="topic ml-2">Some Benefits</span>
</div>
<div class="h-100 d-flex justify-content-center">

    <div class="container my-auto d-block">
        <div class="row">
            <img src="/BlazorPresentation/images/benefits-1.svg" class="slide6-images mx-auto" onerror="this.onerror=null;this.src='../images/benefits-1.svg';" />
        </div>
        <div class="row">
            <img src="/BlazorPresentation/images/benefits-2.svg" class="slide6-images mx-auto mt-5" onerror="this.onerror=null;this.src='../images/benefits-2.svg';" />
        </div>
        <div class="row fade-in-fwd">
            <img src="/BlazorPresentation/images/benefits-3.svg" class="slide6-images mx-auto mt-5" onerror="this.onerror=null;this.src='../images/benefits-3.svg';" />
        </div>
    </div>
</div>