@page "/10"

<div class="container h-100 d-flex justify-content-center">
    <div class="slide1-logo">
        <img src="/BlazorPresentation/images/Blazor.svg" class="slide1-logo-image" onerror="this.onerror=null;this.src='../images/Blazor.svg';" />
        <span class="topic ml-2">Getting Started</span>
    </div>
    <div class="row my-auto fade-in-fwd">
        <span class="slide1-text">
            <img src="/BlazorPresentation/images/versions.svg" class="slide2-images" onerror="this.onerror=null;this.src='../images/versions.svg';" />
        </span>
    </div>
</div>